html,
body,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

#home {
  background-image: url(./assets/tablet.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
